* {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

/* Header */

.navbar-default {
	background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.navbar-default .navbar-marca {
    color: #3F3F3F;
	font-size: 25px;    
}

.navbar-default .navbar-marca span{
    color: #E33139;
}

.navbar-default .navbar-nav>li>a {
    color: #3F3F3F;
}

.boton-buscar {
	background-color: #E33139;
	padding: 5px 15px;
	box-shadow: 2px 2px 5px #999;	
}

.fa-search {
	color: white;
	font-size: 20px;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #E33139;
    height: 3px;
}

.linea hr {
	background-color: #E33139;
	height: 1px;
	margin: 0;
}

/* Section Popular */

.pop {
	padding: 40px 10px;
}

.madonna img,
.ninos img,
.mujer img, 
.familia img {
	width: 100%;
}

.madonna {
	position: relative;
}

.popular {
    position: absolute;
    float: left;
    background: #ea4748;
    z-index: 3;
    top: 0;
    padding: 5px 30px;	
}

.popular p {
	color: white;
	padding-top: 5px;
}

.infantes {
	padding-bottom: 20px;
}

/* Section Hot News */

.linea-roja {
	background-color: #E33139;
	width: 130px;
	height: 4px;
	margin: 0;
	position: relative;
	top: 2px;	
}

.rojo {
	background-color: #E33139;
	height: 1px;
	margin: 0 0 10px 0;
}

.gris {
	background-color: #7F7F7F;
	height: 1px;
	margin: 10px 0;
}

.stars {
	color: #B1B1B1;
}

.stars .redes {
	color: #E62F40;	
}

.noticias-pop {
	padding-bottom: 30px;
}

.may26 h6 {
	color: #E62F40;
}

.mujer2 {
	width: 140px;
    height: 20vh;
}


/* Section Life Style */

.p-1 {
	color: #3F3F3F;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px			
}

.p-2 {
	color: #E62F40;
	font-size: 12px;
	font-weight: 700;
}

.p-3 {
	color: #7F7F7F;
	font-size: 10px;
	line-height: 24px	
}

.texto-estilo-vida {
	padding: 10px 0;
}

.mujer3 {
	width: 140px;
    height: 23vh;
}